/* font material design */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400; /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../assets/fonts/material-design-icons/font/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Just Sans';
  font-weight: normal;
  src: url(../assets/fonts/just-sans/JUST\ Sans\ Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Just Sans';
    font-weight: bold;
    src: url(../assets/fonts/just-sans/JUST\ Sans\ ExBold.otf) format('opentype');
}
@font-face {
  font-family: 'Mittelss';
  src: url(../assets/fonts/alte-din-1451-mittelschrift/din1451alt.ttf) format('truetype');
}
@font-face {
  font-family: 'Mittelssg';
  src: url(../assets/fonts/alte-din-1451-mittelschrift/din1451alt\ G.ttf) format('truetype');
}
@font-face {
  font-family: 'Uni Sans';
  font-weight: light;
  src: url(../assets/fonts/uni-sans/Uni\ Sans\ Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Uni Sans';
  font-weight: bold;
  src: url(../assets/fonts/uni-sans/Uni\ Sans\ Heavy.otf) format('opentype');
}
.f1 {
  font-family: 'mittelssg';
}
.f2 {
  font-family: 'mittelss';
}
.f3 {
  font-family: 'Just Sans';
  font-weight: bold;
}
.f4 {
  font-family: 'Just Sans';
  font-weight: normal;
}
