:root {
    --palette-red  : #F22248;
    --palette-black: #303740;
    --palette-blue : #2F94D3;
    --palete-grey  : #AEB5BF;
    --palette-white: #F4F4F4;
    --palette-electric-blue:#007BFF;
    --palette-uhh-grey: #1e1e1f;
    --palette-green:#32CD32;
    --gap-1x: 0.4rem;
    --gap-2x: 0.8rem;
    --gap-3x: 1.6rem;
    --padding-1x: 2rem;
    --padding-2x: clamp(2rem, 5.0vw, 10vw);
}

.caramel {
    padding-left: var(--padding-2x);
    padding-right: var(--padding-2x);
}
@media only screen and (width <= 600px){
    .caramel {
        padding-left: var(--padding-1x);
        padding-right: var(--padding-1x);
    }
}
.initially-hidden {
    display: none;
}
.centered-xy {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inline-object {
    display: inline-block;
}

/*
HEADER NAVBAR
*/

.header__ {
    width: 100vw;
    height: clamp(1rem, 3.2em, 20vh);

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-2x);
    /*font-size: calc(0.5rem + 0.9vw);*/
    font-size: larger;
    font-family: 'Ubuntu', 'Helvetica', 'Bahnschrift' sans-serif;

    background-color:#1f1e22;
    color: #e07000;
}
.header__ > div {
    max-height: fit-content;
    box-sizing: border-box;
    border-radius: 0.6em;

    background-color: var(--palette-uhh-grey);
}
.header__ button {
    font-size: inherit;
    background-color: var(--palette-uhh-grey);
    border: none;
    color: #007BFF;
}
.header__navigation {
    flex-grow: 1;
}

/*
*/