/*cores*/

:root {
    --c-p1: #F22248;
    --c-p2: #303740;
    --c-p3: #1e1e1f;
    --c-p4: #1f1e22;
    --c-p5: #2F94D3;
    --c-p6: #007BFF;
    --c-p7: #AEB5BF;
    --c-p8: #F4F4F4;
    --c-p9: #32CD32;
    --c-p10:#e07000;
    --c-p11: #ab0064;
    --c-p12: #F2EC91;
    --c-p13: #8C6A04;
    --c-p14: #8C0303;
    --c-p15: #590202;
    --c-p16: #3B97D9;
    --c-p17: #D9D83B;
    --c-p18: #D93D3B;
    --c-p19: #DE4E2A;
    --c-p20: #4551D2;
    --c-p21: #66A31C;
}

.bgc1 {
    background-color: var(--c-p3);
}
.bgc2 {
    background-color: var(--palette-2);
}
.bgc3 {
    background-color: var(--palette-3);
}
.bgc4 {
    background-color: var(--palette-4);
}
.bgc5 {
    background-color: var(--palette-5);
}
.bgc6 {
    background-color: var(--palette-6);
}
.bgc7 {
    background-color: var(--palette-7);
}
.bgc8 {
    background-color: var(--palette-8);
}
.bgc9 {
    background-color: var(--palette-9);
}
.bgc10 {
    background-color: var(--palette-10);
}
.bgc11 {
    background-color: var(--palette-11);
}
.c1 {
    color: var(--palette-1);
}
.c2 {
    color: var(--palette-2);
}
.c3 {
    color: var(--palette-3);
}
.c4 {
    color: var(--palette-4);
}
.c5 {
    color: var(--palette-5);
}
.c6 {
    color: var(--palette-6);
}
.c7 {
    color: var(--palette-7);
}
.c8 {
    color: var(--palette-8);
}
.c9 {
    color: var(--palette-9);
}
.c10 {
    color: var(--palette-10);
}
.c11 {
    color: var(--palette-11);
}
