/*
HEADER AND NAVBAR
*/
/* 


.header__container {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 2;
}
.header__container-hax {
    background-color:#1f1e22;
}
.header__navigation, .header__left, .header__right, .header__, #header__side-menu {
    box-sizing: border-box;
}
.header__ {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8em;

    min-height: var(--nav-bar-min-height);

    font-size: larger;
    font-family: 'Ubuntu', 'Helvetica', 'Bahnschrift', sans-serif;
}
.header__navigation, .header__left, .header__right {
    height: fit-content;
    border-radius: 0.6em;

    background-color: var(--palette-uhh-grey);
    color: inherit;
}
.header__navigation {
    flex-grow: 1;
}
.header__ button, .header__ a, .header__ i {
    cursor: pointer;
}
.header__burger {
    display: none;
    justify-self: flex-end;
}
@media only screen and (width <= 600px) {
    .header__burger {
        display: flex;
        margin-left: auto;
    }
    .header__navigation, .header__right {
        display: none;
    }
}
#header__side-menu {
    position: sticky;
    width: 100%;
    box-sizing: border-box;
}
.header__navigation-list--vertical {
    z-index: 2;
    font-size: large;
} */
/* #header-section__ {
   position: relative;
   z-index: 999;
   width: 100%;
   height: 64px;
   font-size: 1.2rem;
   background-color: var(--c-p3);
   font-family: 'Just Sans';
}
#header-section__ * {
   height: 100%;
}
#header-section__content {
   max-width: min(85vw, 85rem);
   height: inherit;
   margin-left: auto;
   margin-right: auto;
}
#header-section__content nav {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1em;
   height: inherit;
   text-align: center;
}
#header-section__content > div > nav > ul {
   height: 100%;
   margin-left: auto;
   margin-right: auto;
}
#header-section__content > div > nav > ul > li {
   display: inline-block;
   padding: 0 1rem;
}
@media only screen and (width <= 750px) {
   #header-section__content .screena {display: none;}
   #header-section__content nav {
      justify-content: space-between;
      height: inherit;
   }
}
@media only screen and (width > 750px) {
   #header-section__content .screenb {display: none;}
   #header-section__dropdown {
      display: none !important;
   }
}
#header-section__dropdown {
   z-index: 2;
   padding-left: 1em;
   position: sticky;
   background-color: var(--palette-1);
}
#header-section__dropdown > ul > li{
   width: 100%;
   height: 1.65rem;
   padding-bottom: 0.4rem;
}
#header-section__dropdown > ul > li > a {
   width: 100%;
   display: block;
} */
/* #header-section__ {
   width: 100%;
   background-color: var(--c-p3);
   color: var(--palette-8);
}
#header-section__content {
   max-width: min(85vw, 42rem);
}
#grid-header > .gridfour {
   display: none;
}
#grid-header > .gridtwo {
   display: flex;
   justify-content: center;
   gap: 9px;
   align-items: center;
}
#grid-header > .gridthree {
   display: flex;
   align-items: center;
   justify-self: end;
   grid-column-start: 3;
}
#grid-header > .gridthree i {
   display: none;
}
#grid-header {
   display: grid;
   gap: 8px; 
   grid-template-columns: 1fr 3fr 1fr;
   grid-template-rows: 1fr;
}
@media only screen and (width <= 600px) {
   #grid-header {
      grid-template-rows: 1fr;
   }
   #grid-header.yes > .gridfour {
      display: block;
      grid-column: span 3;
   }
   #grid-header.yes > .gridfour > ul > li, #grid-header > .gridthree i {
      display: block;
   }
   #grid-header > .gridtwo {
      display: none;
   }
   #header-log-in {
      display: none;
   }
} */