html {
    background-color: var(--palette-4);
}
:root {
    --nav-bar-height: 4rem;
}
.cac {
    width: 19rem;
}
.vhidden {
    visibility: hidden;
}
.vcollapse {
    visibility: collapse;
}
.hidden {
    display: none;
}
.fixed {
    position: fixed;
}
.sticky {
    position: sticky;
}
.block {
    display: block;
}
.inline {
    display: inline-block;
}
.text-center {
    text-align: center;
}
.centeredxy {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centeredxy-flex{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 155;
    align-items: center;
    justify-content: center;
}
.width50 {
    width: 50%;
}
.width100 {
    width: 100%;
    box-sizing: border-box;
}
.height50 {
    height: 50%;
}
.height100 {
    height: 100%;
}
.white-space-nowrap {
    white-space: nowrap;
}
.marginx-center {
    max-width: min(85rem, 85vw);
    margin-left: auto;
    margin-right: auto;
}
.full-img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pointer-cursor {
    cursor: pointer;
}
.no-placeholder::placeholder {
    visibility: hidden;
}
.inside {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.grid-area-a {
    grid-area: a;
}
.grid-area-b {
    grid-area: b;
}
.grid-area-c {
    grid-area: c;
}
/* .caca
{
    padding: 1em 2em;
    background-position: left top;
    background-size: 1px;
}
    .boxy {
    width: 2em;
    height: 1em;
    background-color: #32CD32;
    margin: 1px;
}

.grid-vieses {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a a"
                         "b c";
} */

/* ############################################################### login */
/*
login-block__  header-section__   main-section__   footer-section__
*/

div#login-block__ > div#dao > form.form1 > fieldset.field-holder {
    padding: 3em calc(1em + 2vw);
    max-width: 100vw;
    flex: 1;
    border: none;
    background-color: var(--c-p8);
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}

div#login-block__ > div#dao > form.form1 > fieldset.field-holder .button1 {
    border-radius: 6px;
    padding: 0.3em;
    margin-top: 0.9em;
    transition: linear 0.2s;
}
div#login-block__ > div#dao > form.form1 > fieldset.field-holder .button1:hover {
    background-color: var(--c-p5);
    color: var(--c-p8);
}
div#login-block__ > div#dao > form.form1 > fieldset.field-holder .button1:active {
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    color: var(--c-p8);
    background-color: blue;
}
div#login-block__ > div#dao > form.form1 > fieldset.field-holder .input1 {
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
    border-color: transparent;
    /* border: 2px groove var(--palette-7); */
    padding: 0.3em;
    outline: none;
    margin: 0.3em 0em;

    transition: 0.1s linear;
}
div#login-block__ > div#dao > form.form1 > fieldset.field-holder .input1:hover {
    border-color: var(--c-p6);
}

div#login-block__ > div#dao > form.form1 > fieldset.field-holder .label1 {
    font-size: small;
}

div#login-block__ > div#dao > form.form1 > fieldset.field-holder  > .cas:has(p) {
    font-size: smaller;
}
div#login-block__ > div#dao > form.form1 > fieldset.field-holder > h2,
div#login-block__ > div#dao > form.form1 > fieldset.field-holder button {
    margin-bottom: 0.4em;
}
div#login-block__ > div#dao > form.form1 a {
    text-decoration: underline;
}
@media screen and (width < 700px){
    .button1 {
        background-color: var(--c-p20);
        color: var(--c-p8);
    }
}
/* ############################################################### header*/
/*
header-section__ 
marginx-center
flexy with strech
*/
/* #header-section__ {
    position: sticky;
    top: 0px;
    z-index: 2;
    font-size: large;
    height: var(--nav-bar-height);
}
div#header-section__ > div.marginx-center > header#upq {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
    gap: 2em;
    margin-bottom: auto;
}
div#header-section__ > div.marginx-center > header#upq > div.mid {
    flex: 1;
}
div#header-section__ > div.marginx-center > header#upq > div.right > i {
    display: none;
}
div#header-section__ > div.marginx-center > header#upq > div.right {
    justify-self: flex-end;
}
div#header-section__ > nav > ul li {
    padding-bottom: 0.3rem;
}
@media only screen and (width < 600px) {
    div#header-section__
 > div.marginx-center > header#upq > div.mid > nav,
    div#header-section__
 > div.marginx-center > header#upq > div.right > button 
    {
        display: none;
    }
    div#header-section__
 > div.marginx-center > header#upq > div.right > i {
        display: block;
    }
}
#vertical-navbar {
    transition: all 1s;
} */
      #griddy .glows-orange {
         transition: background-color 0.3s ease-in;
         cursor: pointer;
      }
      #griddy .glows-orange:hover {
         background-color: var(--c-p19);
         border: 2px solid white;
      }
      #hs__ {
         background-color: var(--c-p18b);
         color: #fff;
         width: 100%;
         font-family: 'Just Sans';
      }
      #hs__c {
         max-width: min(85vw, 85rem);
         margin-left: auto; margin-right: auto;
      }
      #griddy {
         display: grid;
         grid-template-columns: 1fr 3fr 1fr;
         grid-template-rows: 1fr;
         grid-template-areas: "one two three";
      }
      #griddy > .gridone {
         grid-area: one;
         justify-self: start;
      }
      #griddy > .gridtwo {
         grid-area: two;
         justify-self: center;
      }
      #griddy > .gridtwo a {
         display: inline-block;
         height: 100%;
      }
      #griddy .fitting {
         display: flex;
         align-items: center;
         justify-content: center;
         padding-left: 0.7rem;
         padding-right: 0.7rem;
         height: 100%;
         border-radius: 9px;
      }
      #griddy > .gridthree {
         display: flex;
         grid-area: three;
         justify-self: end;
      }
      #griddy > .gridthree a {
         height: 100%;
      }
      #griddy > .gridthree > div {
         height: 100%;
      }
      #iconmenu {
         display: none;
      }
      #griddy > .gridthree > div > i {display: block;margin-top: auto; margin-bottom: auto;}
      @media only screen and (width <= 700px) {
         #iconmenu {
            display: block;
         }
         #griddy {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr auto;
            grid-template-areas: 'one three' 'two two';
         }
         #griddy > .gridone {
            justify-self: start;
         }
         #griddy > .gridtwo {
            justify-self: start;
            width: 100%;
            max-height: 0px;
            overflow: hidden;
            transition: all 0.3s ease-in;
         }
         #griddy > .gridtwo .fitting {
            justify-content: start;
         }
         #griddy > .gridtwo.yes {
            max-height: 100%;
         }
         #griddy > .gridtwo a {
            width: 100%;
            height: fit-content;
         }
         #griddy > .gridthree {
            justify-self: end;
         }
      }
/*######################################################## main*/
#main-section__ {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    background-color: var(--c-p8);
    padding-top: 1em;
    padding-bottom: 1em;
}
.group-grid-three {
    /* max-width: 60vw; */
    width: clamp(10em, 65vw, 85em);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "c b"
                         "a b";
    padding: 0.3em;
    position: relative;
    gap: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
@media only screen and (width < 800px) {
    .group-grid-three {
        display: block;
    }
    .grid-area-a, .grid-area-c {
        display: none;
    }
}
.group-grid-three > div {
    position: relative;
    border-radius: 1em;
    transition: all 0.3s ease-out;
}
.group-grid-three > div:hover {
    transform: scale(1.03);
    filter: brightness(120%);
}
.group-grid-three a {
    font-size: 0px;
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
    display: block;
}
.group-grid-three > div > div {
    color: var(--c-p8);
    font-family: 'Uni Sans';
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    left: 0pc;
}
.group-grid-three > div > div > h2 {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    position: inherit;
    top: 0px;
    padding-top: 1em;
    padding-left: 4px;
    padding-right: 4px;
}
.group-grid-three > div > div > h5 {
    position: absolute;
    text-align: center;
    font-family: 'mittelss';
    top: 6rem;
    width: 100%;
    padding-top: 0.5em;
}
.group-grid-three img {
    aspect-ratio: 5 / 3;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.93;
    filter: brightness(0.84);
}
.agora-outra {
    max-width: 100em;
    margin-left: auto;
    margin-right: auto;
}
#oferta-petecas {
    background-color: var(--c-p2);
    font-family: 'Mittelss';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 14rem;
    overflow-x: auto;
    white-space: nowrap;
    padding: 1em 0pc;
}
.peteca {
    max-height: inherit;
    white-space: nowrap;
    display: inline-block;
}
.peteca > div {
    max-height: inherit;
    display: inline-block;
    width: 50%;
}
.peteca > div > img {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*######################################################## footer*/
footer#footer-section__ {
    position: sticky;
    top: 100vh;

    font-family: 'Just Sans';
    text-align: center;
    z-index: 100;
    max-height: fit-content;
    margin-top: auto;
    padding: 1em;
    background-color: var(--c-p20);
    color: var(--c-p8);
}
#rte > p {font-size: 12px;}

/*#####################################################*/
i.back {
    width: fit-content;
    cursor: pointer;
    font-size: 24px;
    top: 24px;
    left: 24px;
}
i.back::before {
    position: relative;
    content: "arrow_back";
    font-family: inherit;
}
i.back.fixed {
    position: fixed;
}
i.back.absolute {
    position: absolute;
}